<header>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      margin: 10px 20px;
    "
  >
    <h3 style="margin: 0">LOGO</h3>
    <ul
      style="
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1.5rem;
      "
    >
      <li>
        <a href="/ejs/tests" style="text-decoration: none; color: inherit"
          >Home</a
        >
      </li>
      <li>
        <a href="/post" style="text-decoration: none; color: inherit">Post</a>
      </li>
      <li>
        <a href="/" style="text-decoration: none; color: inherit">Other</a>
      </li>
    </ul>
  </div>
</header>
